WebService-Jaxws/MysrvService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://myws/" xmlns:tns="http://myws/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="getTime" type="tns:getTime"/>

  <xs:element name="getTimeResponse" type="tns:getTimeResponse"/>

  <xs:complexType name="getTime">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getTimeResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

